<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Links App</h1>
            <h3 class="mb-5">
                <em>!Almacena tus enlaces a tu gusto¡</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Comenzar
            </a>
        </div>
    </header>
</main>